div {
    /* text-align: center; */
    border: 5px solid #004853;
    display:inline;
    padding: 50px;
    color: #004853;
    font-family: Verdana, sans-serif, Arial;
    font-size: 200px;
    font-weight: bold;
    text-decoration: none;
}

body {
  padding: 20px;
  text-align: center;
}https://careers.microsoft.com/students/us/en/applyprofile?jobSeqNo=597457
https://careers.microsoft.com/students/us/en/applyprofile?jobSeqNo=693300